body{
    background-color:rgb(64, 127, 163) ;
    background-image: "https://img.magnific.com/free-vector/welcome-landing-page-template-with-landscape_23-2148245574.jpg";
    
}
h1{
    font-size: 60px;
    color: rgb(10, 10, 105);
}
p{
    font-size: 50px;
    color:rgb(66, 11, 11)
}

    
